*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgb(115, 115, 252);
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    width: 300px;
    margin-top: 50px;
}
.foto .foto{
    margin-top: 100px;
    border-radius: 50%;
    border: 1px solid  rgb(115, 115, 252);;
   
}
.foto legend{
    color: rgb(26, 25, 25);
    opacity: 0.5;
    margin-left: 18px;
    margin-bottom: 15px;
    border: 2px dashed black;
    text-align: center;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    
}

.instagram,.linkedin, .github{
    border: 1px solid black;
    margin: 8px;
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 5px;
}
.instagram:hover,.linkedin:hover, .github:hover{
    background-color: rgb(115, 115, 252);
}
.github{
    margin-bottom: 20px;
}
img{
    margin: 15px;
}